<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rank</key>
		<string>1</string>
		<key>headImage</key>
		<string>first</string>
		<key>number</key>
		<string>9020000</string>
		<key>name</key>
		<string>林志玲</string>
		<key>arrow</key>
		<string>0</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>2</string>
		<key>headImage</key>
		<string>icon_jay@2x</string>
		<key>number</key>
		<string>80243257</string>
		<key>name</key>
		<string>周杰伦</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>3</string>
		<key>headImage</key>
		<string>hhhh</string>
		<key>number</key>
		<string>10245465</string>
		<key>name</key>
		<string>鹿晗</string>
		<key>arrow</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>4</string>
		<key>headImage</key>
		<string>th.jpg</string>
		<key>number</key>
		<string>12675678</string>
		<key>name</key>
		<string>蔡依林</string>
		<key>arrow</key>
		<string>0</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>5</string>
		<key>headImage</key>
		<string>anger</string>
		<key>number</key>
		<string>5820140</string>
		<key>name</key>
		<string>Angelababy</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>5</string>
		<key>headImage</key>
		<string>anger</string>
		<key>number</key>
		<string>5820140</string>
		<key>name</key>
		<string>Angelababy</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>5</string>
		<key>headImage</key>
		<string>anger</string>
		<key>number</key>
		<string>5820140</string>
		<key>name</key>
		<string>Angelababy</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>5</string>
		<key>headImage</key>
		<string>anger</string>
		<key>number</key>
		<string>5820140</string>
		<key>name</key>
		<string>Angelababy</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>5</string>
		<key>headImage</key>
		<string>anger</string>
		<key>number</key>
		<string>5820140</string>
		<key>name</key>
		<string>Angelababy</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>5</string>
		<key>headImage</key>
		<string>anger</string>
		<key>number</key>
		<string>5820140</string>
		<key>name</key>
		<string>Angelababy</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
	<dict>
		<key>rank</key>
		<string>5</string>
		<key>headImage</key>
		<string>anger</string>
		<key>number</key>
		<string>5820140</string>
		<key>name</key>
		<string>Angelababy</string>
		<key>arrow</key>
		<string>1</string>
	</dict>
</array>
</plist>
